body {
    background-color: #F0F0F0;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    
}

/* HEADER STYLING */

.fixed-header {
    display: flex;
    background-color: white;
    padding: 1rem;
    position: static;
    height: 3rem;
    width:100%;
    box-shadow: 0 0.1rem 0.5rem 0.1rem #B5B5B5;
}

:root {
    font-size: 16px;
    font-family: sans-serif;
}

/* FOOTER STYLING */

/* search bar styling */
footer { 
    margin-top: auto;
    box-shadow: 0 0.1rem 0.5rem 0.1rem #B5B5B5;
    display: flex;
    background-color:white;
    padding: 1rem;
    width: 100%;
    position: static;
    height: 3rem;
}

.fixed-footer{
    width: 50%;
    
    margin-right: 5px;
}


#form-search {
    display: flex; 
    height: 100%;
    border-radius: 0.5rem;
    border-color: #F0F0F0;
    border-style: solid;
    
    
}
form input { 
    border: none;
    outline: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

form button {
    border: none;
    color: none;
    border-radius: 0.5rem;
}
#query { 
    width: 100%; 
    
}

#search-icon { 
    filter: invert(99%) sepia(5%) saturate(408%) hue-rotate(107deg) brightness(116%) contrast(88%);
    margin: 0.5rem;
}

/* icon buttons*/
.icon-container {
    display: flex;
    
    
}


.icon-container button { 
    display: flex;
    width: 55px;
    height: 53px;
    border-style: solid;
    border-radius: 0.5rem;
    border-color: #F0F0F0;
    align-items: center;
    justify-content: center;
    align-content:space-evenly;
    margin: 0 10px;
    
}
.icon-container img { 
    width: 80%;
}

/* <MAIN> STYLING */

main { 
    display: flex;
    padding: 0.5rem .5rem;
    flex-wrap: wrap;
    
}
    
/* video tab styling */
.main-content-tab  { 
    display: flex;
    flex-direction: column;
    
}

.main-content-tab img { 
    justify-content: space-evenly;
}

.video-tab img { 
    display: flex;
    width: 20px;
    align-items: center;
    justify-content: center;
    padding: 0.4rem;
   
}

.video-tab button {
    padding: 0.4rem;
}
.video-list-tab {
    display: flex;
    margin: 0.5rem 0 0.5rem 0;
    
}
.video-list-tab img { 
    width: 2rem;
  

}

.video-list-tab button { 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
    border: 0.2rem solid;
    border-radius: 0.1rem;
    border-color: #F0F0F0;
    
}

.video-tab {
    display: flex;
    flex-direction: column;
    min-width: 176px;
    background-color: white;
    border-radius: 0.2rem;
    padding: 0.4rem 0.6rem;
    box-shadow: 0 0.1rem 0.1rem 0.1rem #B5B5B5;
    margin: 0.7rem;
    
}
.tab-name { 
    text-align: center;
    vertical-align: middle; 
    padding: 0 0 1rem 0;
    
}
.tab-name span { 
    font-size: 0.8rem;
}

.icon-tab { 
    display: flex;
    flex-direction: row;
    
}

.icon-tab img{ 
    margin: 0;
    padding: 0;
}



#x-icon { 
    width: 23px;
}

/* Media Queries for responsive windows  */
/* @media only screen and (min-width: 992px) {
    
} */



/* GLOBAL STYLING */

button { 
    border: none;
    color: none;
    background: none;
    margin: 0;
    padding: 0;
}

